.singinContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: #333F44;
}
.singinInputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 70%;
    max-width: 400px;
    margin-top: 20px;
    background-color: azure;
    border-radius: 5px;
}
.logo{
    border-bottom:2px solid black ;
}
h2{
    font-size: 25px;
}
input{  
    width: 100%;
    display: flex;
    justify-content: center;
}
.info-input-login{
    width: 100%;
    padding: 2% 2%;
    margin: 3% 0;
    border-radius: 5px;
    border: solid .1px rgba(136,136,136,0.60);
}

.info-input-login:focus{
    outline: 1px solid #324439;
}
.buttonAcces{
    width: 100%;
    display: flex;
    justify-content: center;
}
.register-submit{
    width:50%;
    padding: 2%;
    color: #00ADB5;
    background : rgb(37,46,53);
    border: none;
    border-radius: 5px;
    font-size: 80%;
    font-weight: bolder;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease;
}